body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
}
/* HEADER */
header{
    flex:1;
}
ul{
    display: flex;
    flex-flow: row nowrap;
    margin: 10px 15px;
    padding: 0;
    justify-content: end;
}
ul li{
    list-style-type: none;
}
ul li div{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border-radius: 10px;
}
.colour_item{
    border-color: black;
}
.gray{
    background-color: gray;
}
.white{
    background-color: white;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.violet{
    background-color: violet;
}
.yellow{
    background-color: yellow;
}
.active{
    width: 50px;
    height: 50px;
    background-image: url(img/plus.svg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
}

html{
    background-color: yellow;
}
main{
    border-top: 2px solid yellow;
    border-bottom: 2px solid yellow;
}
body{
    background-color: white;
    border: 1px solid black;
}

/* MAIN */

main{
    flex:10;
}
.content{
 display: flex;
 flex-flow: row wrap;
 justify-content: space-around;
}
.content .content_item:first-child{
    flex-basis: 354px;
}
.content_item:nth-child(2n+1){
    flex-basis: 154px;
    align-self: flex-end;
}
.content_item:nth-child(2n){
    flex-basis: 254px;
    align-self: flex-start;
}

.content_item{
    width: min-content;
    margin: 60px;
    padding: 20px;
}
button{
    width: 150px;
    padding: 20px;
}
.boom{
    height: -webkit-fill-available;
    background-image: url(img/boom.avif);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
}
/* FOOTER */
footer{
    flex:1;
}
.image_github{
    width: 50px;
    height: 50px;
    background-image: url(img/github.svg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
}
footer, .footer_github {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.contact__content.footer_content, .footer_github{
    align-self: center;
}
.year_create{
    align-self: center;
    justify-self: center;
}